/* .map-container {
  width: 200px;
  height: 100px;
}

@media (min-width: 768px) {
  .map-container {
    width: 400px;
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .map-container {
    width: 600px;
    height: 300px;
  }
} */
